    <head>
        <%= stylesheet_link_tag 'test_login' %>
        <script type="text/javascript">
        $(document).ready(function() {
          var animating = false,
              submitPhase1 = 1100,
              submitPhase2 = 400,
              logoutPhase1 = 800,
              $login = $(".login"),
              $app = $(".app");

          function ripple(elem, e) {
            $(".ripple").remove();
            var elTop = elem.offset().top,
                elLeft = elem.offset().left,
                x = e.pageX - elLeft,
                y = e.pageY - elTop;
            var $ripple = $("<div class='ripple'></div>");
            $ripple.css({top: y, left: x});
            elem.append($ripple);
          };

          $(document).on("click", ".login__submit", function(e) {
            if (animating) return;
            animating = true;
            var that = this;
            ripple($(that), e);
            $(that).addClass("processing");
            setTimeout(function() {
              $(that).addClass("success");
              setTimeout(function() {
                $app.show();
                $app.css("top");
                $app.addClass("active");
              }, submitPhase2 - 70);
              setTimeout(function() {
                $login.hide();
                $login.addClass("inactive");
                animating = false;
                $(that).removeClass("success processing");
              }, submitPhase2);
            }, submitPhase1);
          });

          $(document).on("click", ".app__logout", function(e) {
            if (animating) return;
            $(".ripple").remove();
            animating = true;
            var that = this;
            $(that).addClass("clicked");
            setTimeout(function() {
              $app.removeClass("active");
              $login.show();
              $login.css("top");
              $login.removeClass("inactive");
            }, logoutPhase1 - 120);
            setTimeout(function() {
              $app.hide();
              animating = false;
              $(that).removeClass("clicked");
            }, logoutPhase1);
          });

        });
        </script>
    </head>

<body>
        <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
    <div class="cont">
  <div class="demo">
    <div class="login">
      <div class="login__check"></div>
      <div class="login__form">
      <%= form_for(:user, url: session_path(:user)) do |f| %>
        <div class="login__row">
          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
          <%= f.email_field :email, autofocus: true, placeholder: "User Email", class: "login__input name" %>
        </div>
        <div class="login__row">
          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
          </svg>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "login__input pass" %>
        </div>
        <input type="submit" class="login__submit" value="Sign in"></button>
        <p class="login__signup">Don't have an account? &nbsp;<a>Sign up</a></p>
        </form>
      <% end %>
      </div>
    </div>
  </div>
</div>
</body>
